@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behaviour: smooth;
}
header{
    background-color: #D3D3D3 ;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between ;
    align-items: center ;
    padding: 10px 200px;

}
.logo{
    text-decoration: none;
    color:#601cfc;
    text-transform:uppercase;
    font-weight:700;
    font-size: 1.8em;
    
}
.navigation a{
    color:rgba(66, 142, 175, 0.941);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #601cfc;
 }
section{
    padding: 100px 200px;
 }
 .main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/computer-science1.jpg) no-repeat;
    background-size: cover;
    background-position: center;

 }
 .main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;

 }
 .main h2 span {
    display: inline-block;
    margin: 10px;
    color:#4e9eff;
    font-size: 3em;
    font-weight: 600;
 }
 .main h3 {
    color:#fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
 }
 .main-btn {
    color: #fff;
    background-color:  #1E90FF;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top:30px;
    margin-bottom: 40px;
    transition: 0.7s ease;
 }
 .main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1,1.1);


 }
 .social-icons a{
    color:#fff;
    font-size:1.7em;
    padding-right: 30px;

 }
 
.title{
    display: flex;
    justify-content: center ;
    color: #0a49f6;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px; 

}

    
.content{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    background-color: #fff;
    width: 15.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius:10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7 ease;

}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color:#3a6cf4;
    font-size: 5em;
    text-align:center;
}
.info{
    text-align:center;
}
.info h3{
    color:#3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin:10px;


}
.footer{
    background-color:#28282B;
    color:#fff;
    padding:2em;
    display: flex;
    justify-content:space-between;

}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;

}
.footer-title span {
    color:#3a6cf4;
} 